<!-- Friend info (finfo) component - to display detailed info about friend.
Possible navigation - back to chat with given user -->

<div class="container mx-auto col-md-6 col-xl-4">
  <div class="card friend-card ">
      <img class="mx-auto d-block card-img-top" src="assets/{{user.id}}.png" alt="User image">
      <div class="card-body">
          <h6 class="card-title mx-auto">{{user.name}} <br><span class="font-weight-light text-muted"><small> {{user.city}} </small></span> </h6>
          <small>
            <div class="d-flex p-3">
              <div class="mr-auto"> <b>Nickname:</b> </div>
              <div class="ml-auto"> {{user.nick}} </div>
            </div>
            <div class="d-flex p-3">
                <div class="mr-auto"> <b>Tel:</b> </div>
                <div class="ml-auto"> {{user.tel}} </div>
            </div>
            <div class="d-flex p-3">
                <div class="mr-auto"> <b>Birthday:</b> </div>
                <div class="ml-auto"> {{user.bday}} </div>
            </div>
            <div class="d-flex p-3">
                <div class="mr-auto"> <b>Gender:</b> </div>
                <div class="ml-auto"> {{user.gender}} </div>
            </div>
            <div class="d-flex p-3">
                <div class="mr-auto"> <b>Language:</b> </div>
                <div class="ml-auto"> {{user.lang}} </div>
            </div>
          </small>
        </div>
  </div>