<!-- Friend info (finfo) component - to display detailed info about friend.
Possible navigation - back to chat with given user -->

<div class="container">
  <div class="card friend-card mx-auto">
      <img class="mx-auto d-block card-img-top" src="../../assets/{{user.id}}.png" alt="User image" style="max-width:50%">
      <div class="card-body">
          <h5 class="card-title">{{user.name}} <span class="font-weight-light text-muted"><small> {{user.city}} </small></span> </h5>
          <p>Nickname: {{user.nick}} </p>
          <hr>
          <p>Tel: {{user.tel}} </p>
          <hr>
          <p>Day Of Bith: {{user.bday}} </p>
          <hr>
          <p>Gender: {{user.gender}} </p>
          <hr>
          <p>Language: {{user.lang}} </p>
          <hr>
          <button type="button" class="btn btn-sm btn-primary" routerLink="/chat/{{user.id}}">Back to chat</button>
        </div>
  </div>