<div class="d-flex col-md-6 col-xl-4 mx-auto">
    <div class="users-cont">
        <div class="user-card p-2" *ngFor="let user of users">

            <div class="d-flex mb-1">
                <div class="user-pic-div">
                    <a routerLink="/chat/{{user.id}}">
                        <img class="friend-list-img img-fluid mx-auto d-block" src="../../assets/{{user.id}}.png" alt="Card image cap">
                    </a>
                </div>
                <a routerLink="/chat/{{user.id}}" style="flex-grow:3">
                    <div>
                        <p class="text-light mb-0 mt-1"> {{user.name}}</p>
                        <p class="text-secondary">
                            <small>{{user.slog}}</small>
                        </p>
                    </div>
                </a>

                <div class="ml-auto">
                    <div class="helper-user-d-r">
                        <button id="dropmenubtn" class="btn-small text-light mr-2" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" routerLink="/finfo/{{user.id}}">View profile</a>
                        </div>
                    </div>
                    <p class="helper-user-p-r text-secondary mr-2">
                        <small>2 min</small>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

