<div id="users_comp_main" class="d-flex flex-column col-md-6 col-xl-4 mx-auto" style="height: 100%">
    
<!--============================ ANIMATED LEFT-SIDE NAVIGATION BAR ==================================-->
<div id="mySidenav" class="sidenav bg-dark text-light" (click)="toggleSideNav()">
        <h5> Inbox </h5>
        <a href="#">
            <div class="d-flex">
             <div>All messages</div> <div class="ml-auto">2</div>
            </div>
        </a>

        <a href="#">
                <div class="d-flex">
                 <div>Unread</div> <div class="ml-auto">7</div>
                </div>
        </a>

        <a href="#">
                <div class="d-flex">
                 <div>Important</div> <div class="ml-auto">21</div>
                </div>
        </a>
        <a href="#">
                <div class="d-flex">
                 <div>Drafts</div> <div class="ml-auto">8</div>
                </div>
        </a>

        <a href="#">
                <div class="d-flex">
                 <div>All messages</div> <div class="ml-auto">78</div>
                </div>
        </a> 

        <hr class="sidenav-separator"> 
        <br>
            
        <a href="#">Unread</a>
        <a href="#">Important</a>
        <a href="#">Drafts</a>
        <hr class="sidenav-separator"> 
        <br>

        <a href="admin.php"><span class="fa fa-lock" style="margin-right:5px"></span>Admin</a>
    </div>
    <!-- ====================================================================================================ß-->

    <div id="users-header"> 
        <button style="background-color:#1c232a; color:white;" class="border-0" (click)="toggleSideNav()"> 
            <i class="fa-lg fa fa-bars p-2 border-0"></i>
        </button>
    </div>
    <div class="users-cont">
        <div class="user-card" *ngFor="let user of users">

            <div class="d-flex mb-1">
                <div class="user-pic-div">
                    <a routerLink="/chat/{{user.id}}">
                        <img class="friend-list-img img-fluid mx-auto d-block" src="../../assets/{{user.id}}.png" alt="Card image cap">
                    </a>
                </div>
                <a routerLink="/chat/{{user.id}}" style="flex-grow:3">
                    <div>
                        <p class="text-light mb-0 mt-1"> {{user.name}}</p>
                        <p class="text-secondary">
                            <small>{{user.slog}}</small>
                        </p>
                    </div>
                </a>

                <div class="ml-auto">
                    <div class="helper-user-d-r">
                        <button id="dropmenubtn" class="btn-small text-light mr-2" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" routerLink="/finfo/{{user.id}}">View profile</a>
                        </div>
                    </div>
                    <p class="helper-user-p-r text-secondary mr-2">
                        <small>2 min</small>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

