<!-- Chat component - to display the mssages of the chat with given user, and to send new messages
Possible navigations: to all users list, and to cpecific user info details -->

<div id="chat-outer" class="d-flex col-md-6 col-xl-4 mx-auto">

  <!-- Some control buttons at the top -->
  <div id="chat-header" class="d-flex">
      <nav class="navbar navbar-expand">
          <div class="mr-auto">
             <small><b>{{user.name}}</b> is typing...</small>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link"> <i class="fa fa-star nav-link"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"><i class="fa fa fa-lg fa-phone nav-link"></i></a>
              </li>
            <li class="nav-item active">
              <a class="nav-link"><i class="fa fa fa-lg fa-video-camera nav-link"></i></a>
            </li>
          </ul>
        
        </nav>
  </div>

  <div id="chat-content">
    
    <!-- This is for vertical stack of all the messages - from the newest to the latest -->
    <div class="d-flex flex-column-reverse">
       
     <!--  This "flex" is for horisontal order and alignent of the content of each message: 
      incoming come from the left, outcoming - from the right -->
      <div class="d-flex msg-wrap" *ngFor="let msg of user.msgs" 
          [class.justify-content-start]="!msg.incoming" 
          [class.justify-content-end]="msg.incoming" 
      >
        <!-- Control of the user pic in the message and chat box  -->
        <div class="msg-img-div" [class.in-img]="msg.incoming" [class.out-img]="!msg.incoming">
          <img [class.hide-img]="msg.incoming" src="../../assets/{{user.id}}.png">
        </div>
        <div class="msg-txt rounded" [class.in-msg]="msg.incoming" [class.out-msg]="!msg.incoming">  
          <small>{{msg.mtext}} </small>
        </div>
        <div class="msg-img-div" [class.in-img]="msg.incoming" [class.out-img]="!msg.incoming"> 
          <img [class.hide-img]="!msg.incoming" src="../../assets/soldier.png">
        </div>
      </div>

    </div>
  </div>

  <!-- Input text area always be at the bottom -->
  <div id='chat-footer' style="flex: none">
    <div style="width:100%; background-color: white" class="d-flex">
        <div>
            <button type="button" class="btn footer-btn">
              <i class="fa fa fa-lg fa-paperclip pr-3"></i>
            </button>
        </div>
      <div style="width:90%;">
        <form>
          <small>
            <textarea id="msg-txt" name="txt1" [(ngModel)]="msgText" class="border-0" placeholder="Type your message..."
            (keyup.enter)="newMsg()"
              required>
          </textarea>
          </small>
        </form>
      </div>
      <div>
          <button type="button" class="btn footer-btn">
            <i class="fa fa fa-lg fa-smile-o"></i>
          </button>
      </div>
      <div>
        <button type="button" class="btn footer-btn send-btn" (click)="newMsg()"> 
            <i class="fa fa fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div>