.in-msg {
    position: relative;
    margin-bottom: 16px;
    padding: 8px;
    margin-left:20%;
    margin-right:5%; 
    background-color: rgb(224, 228, 224);
}

.in-msg::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;
    z-index: 1;
    right: -7px;
    border: medium solid white;
    border-width: 7px 0 7px 7px;
    border-color: transparent transparent transparent rgb(224, 228, 224);
}

.in-msg .other-img {
    display: none
}

.out-msg {
    position: relative;
    margin-bottom: 16px;
    margin-right:20%;
    margin-left:5%; 
    padding: 8px;
    background-color: rgb(216, 230, 240); 
}

.out-msg .my-img {
    display: none
}

.out-msg::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;
    z-index: 1;
    left: -7px;
    border: medium solid white;
    border-width: 7px 7px 7px 0;
    border-color: transparent rgb(216, 230, 240) transparent transparent;
}

#chat-outer {
    display: flex;  
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    /* max-width: 600px; */
    margin:auto;
  }
  
  #chat-footer {
    flex: none;
    /* border: solid 1px green; */
  }
  
  #chat-header {
      flex: none;
      /* border: solid 1px green; */
    }
  
  #chat-content {
    background-color: #fafafa; 
    /* border: solid 1px red; */
  }

  .msg-img-div img {
    max-height: 50px; 
    margin-top:5px; 
    margin-bottom: 5px
  }

  #msg-txt {
    width:100%; 
    resize: none;
    background-color: white
  }