<!-- This is main (default) page of the app. 
It displays the list of the users and allows, by click, to switch to the chat window with given user.  -->

<!-- <div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
                <div class="list-group border-0 card text-center text-md-left">
                <a href="#menu1" class="list-group-item d-inline-block"  data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">Item 1111</span> </a>
    
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="d-none d-md-inline">Item 2</span></a>
                <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="d-none d-md-inline">Item 3 </span></a>
                
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="d-none d-md-inline">Item 4</span></a>
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-list"></i> <span class="d-none d-md-inline">Item 5</span></a>
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-clock-o"></i> <span class="d-none d-md-inline">Link</span></a>
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-th"></i> <span class="d-none d-md-inline">Link</span></a>
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-gear"></i> <span class="d-none d-md-inline">Link</span></a>
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-calendar"></i> <span class="d-none d-md-inline">Link</span></a>
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-envelope"></i> <span class="d-none d-md-inline">Link</span></a>
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-bar-chart-o"></i> <span class="d-none d-md-inline">Link</span></a>
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">Link</span></a>
            </div>
        </div>
        <main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
            <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-bars"></i></a>
            <router-outlet></router-outlet>
          </main>
    </div>
</div>
 -->


 
 
 
  <router-outlet></router-outlet>







<!-- 
===================
===================
===================
 -->

<!-- <div class="row" style="height: 100%" >  
  <div class="col-md-6 col-xl-4 p-0 border border-primary" >
    
</div>
<div class="d-none d-md-block col-md-4 border border-success">
  User profile
</div>
</div> -->

<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-offcanvas col-md-6 col-xl-4 mx-auto" style ="padding-left: 16px; padding-right: 16px;">
      <button class="navbar-toggler navbar-toggler-right navbar-icon" type="button" data-toggle="collapse" data-target="#navbar-mobile">
        <i class="fa fa-bars"></i>
      </button>
    <div id="navbar-mobile" class="navbar-collapse collapse ml-auto">
      <h1>Test togling</h1> 
      <p> Here will be toggling contents</p>
    </div>
</nav>
<router-outlet></router-outlet> -->

<!-- <div id='main-outer' class='col-md-6 col-xl-6 d-flex'>
  <div id='main-header'>
  <nav class="navbar navbar-expand navbar-dark bg-primary rounded">
    <ul class="navbar-nav mr-auto">
      <li class="">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          <i class="fa fa-bars nav-link"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="/tasks">Command1</a>
          <a class="dropdown-item"  routerLink="/groups">Command2</a>
          <a class="dropdown-item"  routerLink="/messages">Command3</a>
          <a class="dropdown-item"  routerLink="/notifications">Command4</a>

        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link"> <i class="fa fa-gear nav-link"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-bell nav-link"></i></a>
      </li>

      <li class="nav-item">
        <button type="button" class=" btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <img src="../assets/profile_placeholder.png" class="rounded-circle" style="width: 35px; height: 35px"> </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Setting1</a>
              <a class="dropdown-item" href="#">Setting2</a>
              <a class="dropdown-item" href="#">Setting3</a>
            </div>

    </ul>
  
  </nav>
</div>

<div id='main-content'>
  <router-outlet></router-outlet>
</div>

  <div id='main-footer'>
      <p style="padding:8px"> <small>Powered by Evgeny Grin &copy; 2018 </small> </p>
  </div>

</div>
 -->



